*{
    margin: 0;padding: 0;
}
body{
    background-color: aquamarine;
}
.heading{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    color: rgb(5, 5, 128);
}

h1{
    font-size: 2.6rem;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.btn button{
    height: 44px;
    width: 170px;
    border: 2px solid red;
    background-color: black;
    color: aliceblue;
    font-size: larger;
    font-weight: 700;
    border-radius: 4px;
}